flake8
black
isort
typing
python-dotenv
itsdangerous
python-json-logger
fastapi[all]
fastapi-cache2[redis]
fastapi_storages
asyncpg
sqlalchemy
sqladmin
alembic
celery
flower
sentry-sdk[fastapi]
gunicorn

